* {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #eee;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 1rem;
}

.flex {
  display: flex;
}

nav {
  width: 50%;
}

.header-nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.header-nav-links li a {
  text-decoration: none;
}

.active {
  text-decoration: underline !important;
}

.nav-divider {
  height: 1.5rem;
  border: solid 1px black;
}

.table-title {
  list-style: none;
  display: flex;
}

.table-content {
  list-style: none;
  display: flex;
}

.mission-title {
  width: 15%;
}

.mission-description {
  width: 50%;
}
