* {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #eee;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

nav {
  width: 50%;
}

.header-nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.header-nav-links li a {
  text-decoration: none;
}

.active {
  text-decoration: underline !important;
}

.nav-divider {
  height: 1.5rem;
  border: solid 1px black;
}

.table-title {
  list-style: none;
  display: flex;
  border: 1px solid gray;
  margin: auto;
  width: 95%;
}

.table-title li {
  margin: 0.5rem;
  font-weight: bold;
}

.table-content {
  list-style: none;
  display: flex;
  border: 1px solid gray;
  margin: auto;
  width: 95%;
}

.table-content li {
  border: 1px solid gray;
}

.mission-title {
  width: 15%;
}

.mission-description {
  width: 60%;
}

.mission-active {
  width: 15%;
}

.mission-join {
  width: 15%;
}

.status-text {
  padding-left: 17% !important;
}

.description-text {
  padding-left: 3% !important;
}

.mission-join,
.mission-active,
.mission-description,
.mission-title {
  padding: 1rem;
}

.table-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


